@{
    this.ViewData["Title"] = "Admin index";
}

    <div class="my-2" id="accordion">
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="btn btn-info border-dark btn-block mx-1" data-toggle="collapse" data-target="#dashboard" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info border-dark btn-block" data-toggle="collapse" data-target="#register" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info border-dark btn-block" data-toggle="collapse" data-target="#edit" href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info border-danger btn-block" data-toggle="collapse" data-target="#delete" href="#">Delete</a>
                </li>
            </ul>
        </div>
        <hr />
        <div id="dashboard" class="collapse mx-3" data-parent="#accordion">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!--   Register  -->
        <div id="register" class="collapse mx-3" data-parent="#accordion">
            <form class="form-inline" action="/action_page.php">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id="edit" class="collapse mx-3" data-parent="#accordion">
            Activ Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div id="delete" class="collapse mx-3" data-parent="#accordion">
            Activ Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
