@model CustomERP.Data.Models.ScheduleDay

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Edit</h1>

<h4>ShiftDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkingMode" class="control-label"></label>
                <select asp-for="WorkingMode" class="form-control"></select>
                <span asp-validation-for="WorkingMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Begins" class="control-label"></label>
                <input asp-for="Begins" class="form-control" />
                <span asp-validation-for="Begins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncludingRest" class="control-label"></label>
                <input asp-for="IncludingRest" class="form-control" />
                <span asp-validation-for="IncludingRest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedFrom" class="control-label"></label>
                <input asp-for="DeletedFrom" class="form-control" />
                <span asp-validation-for="DeletedFrom" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedFrom" class="control-label"></label>
                <input asp-for="CreatedFrom" class="form-control" />
                <span asp-validation-for="CreatedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedFrom" class="control-label"></label>
                <input asp-for="ModifiedFrom" class="form-control" />
                <span asp-validation-for="ModifiedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
