@using CustomERP.Data.Models
@model CustomERP.Web.ViewModels.Administration.ScheduleDays.ScheduleDayEditViewModel

@{
    ViewData["Title"] = "Edit";

    var name = new List<SelectListItem>
    {
        new SelectListItem("Day" + Model.Name, Model.Name.ToString(), selected:true)
    };//new SelectListItem("Day" + Model.Name, Model.Name.ToString());

    var mode = Enum.GetValues(typeof(Mode)).Cast<Mode>()
        .Select(v => new SelectListItem
        {
            Text = v.ToString(),
            Value = ((int)v).ToString(),
            Selected = v.ToString() == Model.WorkingMode.ToString() ? true : false,
        }).ToList();

    var duration = Enumerable.
        Range(0, 13)
        .Select(x => new SelectListItem
        {
            Value = x.ToString(),
            Text = x.ToString(),
        });

    var rest = Enumerable.
        Range(0, 61)
        .Select(x => new SelectListItem
        {
            Value = x.ToString(),
            Text = x.ToString(),
        });
}

<div class="container">
    <h1>Edit</h1>

    <h4>ShiftDay</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <select asp-for="Name" asp-items="name" class="form-control"></select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkingMode"></label>
                    <select asp-for="WorkingMode" asp-items="@mode" class="form-control"></select>
                    <span asp-validation-for="WorkingMode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Begins"></label>
                    <select asp-for="Begins" class="form-control">
                        <option>- choose a time -</option>
                        @{
                            const string zero = "0";
                            for (var i = 0; i < 24; i++)
                            {
                                for (var j = 0; j <= 30; j += 30)
                                {
                                    var hour = string.Empty;
                                    var min = string.Empty;
                                    if (i < 10)
                                    {
                                        hour = zero;
                                    }

                                    if (j < 10)
                                    {
                                        min = zero;
                                    }
                                    <option>@hour@i:@j@min</option>
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="Begins" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration"></label>
                    <select asp-for="Duration" asp-items="duration" class="form-control"></select>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IncludingRest"></label>
                    <select asp-for="IncludingRest" asp-items="rest" class="form-control"></select>
                    <span asp-validation-for="IncludingRest" class="text-danger"></span>
                </div>
                <div class="form-group invisible">
                    <input asp-for="ScheduleId" class="invisible">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success rounded">Save  <i class="far fa-save bigger-div"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
