/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    /* Margin bottom by footer height */
    /*background-color: #ffaf00;
    background-color: rgba(255, 175, 0, 0.20);*/
    
    padding-bottom: 60px;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 12px;
    /*white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 50px;
    /*/line-height: 60px; /* Vertically center the text there */
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #72a2c0 !important;
}

.bg-blue {
    background-color: #5184bb;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
ul {
    list-style-type: none;
}

/* Collapsed Sidepanel
        --------------------------------------------------------------------- */
/* The sidepanel menu */
#menu-toggle {
    background-color: #0f1b33 !important;
}

.sidepanel {
    height: 100%; /* Specify a height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top = 1020 */
    top: 60px;
    left: -245px;
    /*background-color: #111;  Black Removed*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

    /* The sidepanel links */
    .sidepanel ul li {
        line-height: 30px;
    }

        .sidepanel ul li a { /* .sidepanel a { */
            padding: 8px 8px 8px 8px;
            float: left; /* Added */
            width: 260px; /* Added*/
            /*background-color: #0f1b33;*/ /* Added*/
            margin-bottom: 1px; /* Added*/
            text-decoration: none;
            font-size: 25px;
            /*color: #818181;*/
            border-top-right-radius: 17px !important;
            border-bottom-right-radius: 17px !important;
            border-top: 1px solid #373737;
            border-bottom: 1px solid rgba(255, 175, 0, 0.41);
            display: block;
            transition: 0.5s;
        }


    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }
/* Collapsed Sidepanel
----------------------------------------------------------------------*/

.dash-widget .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icon {
    border-radius: 8px !important;
}

.card {
    border: 1px solid #ffaf00;
    border: 1px solid rgba(255, 175, 0, 0.31);
    margin-bottom: 30px;
    border-radius: 10px !important;
}

.card-icon .fas {
    font-size: 34px;
    margin: 10px;
    color: #fff;
}

.card-right {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .card-right .card-title {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .card-right p {
        font-size: 20px;
        font-weight: 700;
    }

.ctm-border-radius {
    border-radius: 10px !important;
}


.dt {
    font-family: Helvetica,Arial,Verdana,Sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    line-height: 1.3em;
    width: 30.0%;
    text-align: right;
    color: #000000;
    white-space: nowrap;
    padding-right: 10px;
}

.dt2 {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    color: #001326;
}

/* Glyphicon*/
.bigger {
    font-size: 24px;
    color: #f2a104;
}

.bigger-div {
    font-size: 24px;
}

.glyphicon-to-right {
    float: right;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 24px;
    color: #f2a104;
}

.glyphicon-to-left {
    float: left;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 24px;
    color: #f2a104;
}
/* Glyphicon*/

/* My css*/
